<h1>Create a new Landmark</h1>
 
<form action="/landmarks" method="POST">
 
 
  <input type="text" name="landmark[name]" id="landmark_name">
 
  
      <input  type="text" name="landmark[year_completed]" id="landmark_year_completed"></input>

    <input type="submit" value="Create New Landmark">
  